body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: mediumseagreen;
}

.field {
    position: relative;
    width: 400px;
    height: 300px;
    background-color: darkorange;
    overflow: hidden;
}

.slot {
    position: absolute;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border: 1px solid #333333;
    padding: 10px;
    text-align: center;
    line-height: 100px;
    transition-property: all;
    transition-timing-function: ease-in;
    transition-duration: 200ms;
}

.slot-image {
    position: absolute;
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.buttons {
    margin-top: 20px;
    text-align: center;
}

button {
    margin: 0 10px;
}
